
.DS_Store
qldpc/__pycache__/objects.cpython-312.pyc
qldpc/__pycache__/__init__.cpython-312.pyc
qldpc/__pycache__/abstract.cpython-312.pyc
qldpc/__pycache__/codes.cpython-312.pyc
qldpc/__pycache__/decoder.cpython-312.pyc
