notes.txt
.trash.*

# code search experiments
.code_cache
experiments/bivariate_bicycle/codes.csv
experiments/quantum_tanner/codes

# python cache
__pycache__

# ipython notebooks
.ipynb_checkpoints

# pytest/coverage
.coverage

# macOS clutter
.DS_Store

# sphinx documentation
docs/build

# cython build artifacts
build
*.c
*.so
*.pyd
